@model ICollection<BabyBug.Common.ViewModels.Orders.OrderViewModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Approved";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <partial name="_SingleStylesPartial" />
    <link rel="stylesheet" type="text/css" href="~/css/datatables.css">

}

<div class="container single_product_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a><i class="fa fa-angle-right" aria-hidden="true"></i>Orders</a></li>
                    <li class="active"><a asp-area="Administrator" asp-controller="Orders" asp-action="Approved"><i class="fa fa-angle-right" aria-hidden="true"></i>Approved</a></li>
                </ul>
            </div>

        </div>
    </div>
    @*<div class="funkyradio">
            <h5>Search by:</h5>
            <div class="funkyradio-danger">
                <input asp-for="SearchCriteria" type="radio" value="name" id="name" onclick="javascript:getSearchCriteria();" />
                <label asp-for="SearchCriteria" for="name">Customer name</label>
            </div>
            <div class="funkyradio-danger">
                <input asp-for="SearchCriteria" type="radio" value="orderId" id="order" onclick="javascript:getSearchCriteria();" />
                <label asp-for="SearchCriteria" for="order">Order id</label>
            </div>
        </div>
        <div class="form-group" id="officeName" style="display:none">
            <label asp-for="DeliveryDestination" class="control-label">Input office name:</label>
            <input asp-for="DeliveryDestination" class="form-control" />
            <span asp-validation-for="DeliveryDestination" class="text-danger"></span>
        </div>
        <div class="form-group" id="officeName" style="display:none">
            <label asp-for="DeliveryDestination" class="control-label">Input office name:</label>
            <input asp-for="DeliveryDestination" class="form-control" />
            <span asp-validation-for="DeliveryDestination" class="text-danger"></span>
        </div>*@
    <!-- Table -->
    <partial name="_ApprovedOrdersTablePartial" model=@Model />

</div>

@section Scripts{
    <script src="~/js/datatables.js" asp-append-version="true"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#table_approved').DataTable();
        });
    </script>
}
