@model ICollection<BabyBug.Common.ViewModels.ProductSize.BaseProductSizeModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <partial name="_SingleStylesPartial" />
    <link rel="stylesheet" type="text/css" href="~/css/datatables.css">
}

<div class="container single_product_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a><i class="fa fa-angle-right" aria-hidden="true"></i>Product Sizes</a></li>
                    <li class="active"><a asp-area="Administrator" asp-controller="ProductSize" asp-action="Index"><i class="fa fa-angle-right" aria-hidden="true"></i>All</a></li>
                </ul>
            </div>

        </div>
    </div>

    <!-- All sizes -->

    <h4>All Product Sizes</h4>

    @if (Model.Any())
    {
        <table id="table_sizes" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Value</th>
                    <th scope="col">Type</th>
                    <th scope="col">Action</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            @{ var index = 1; }
            @foreach (var size in Model)
            {
                <tr>
                    <th scope="row">@index</th>
                    <td>@size.Name</td>
                    <td>@size.Type</td>
                    <td>
                        <a class="btn btn-success" asp-area="Administrator" asp-controller="ProductSize" asp-action="Edit" asp-route-id=@size.Id>Edit</a>
                    </td>
                    <td>
                        <form method="post" asp-area="Administrator" asp-controller="ProductSize" asp-action="Delete" asp-route-id=@size.Id>
                            <input type="submit" class="btn btn-outline-danger" value="Delete" />
                        </form>
                    </td>
                </tr>
                index++;
            }

        </table>
    }
    <div>
        <a class="btn btn-primary" asp-area="Administrator" asp-controller="ProductSize" asp-action="Create">Create</a>
    </div>
</div>

@section Scripts{
    <script src="~/js/datatables.js" asp-append-version="true"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#table_sizes').DataTable();
        });
    </script>
}
