@model BabyBug.Common.ViewModels.ProductSize.ProductManageSizesModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Manage Sizes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <partial name="_SingleStylesPartial" />
}

<div class="container single_product_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="Administrator" asp-controller="ProductSize" asp-action="Index"><i class="fa fa-angle-right" aria-hidden="true"></i>Product Size</a></li>
                    <li class="active"><a asp-area="Administrator" asp-controller="ProductSize" asp-action="ManageSizes" asp-route-id=@Model.ProductId asp-route-name=@Model.CategoryName><i class="fa fa-angle-right" aria-hidden="true"></i>Manage</a></li>
                </ul>
            </div>

        </div>
    </div>

    <h4>Manage Sizes</h4>
    @if (Model.CurrentSizes.Any())
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Size</th>
                    <th scope="col">Quantity</th>
                </tr>
            </thead>
            @{ var index = 1; }
            @foreach (var kvp in Model.CurrentSizes)
            {
                if (kvp.Value == 0)
                {
                    continue;
                }
                <tr>
                    <th scope="row">@index</th>
                    <td>@kvp.Key</td>
                    <td>@kvp.Value</td>
                </tr>
                index++;
            }

        </table>
    }

    <div class="pt-5">
        <h4>Add/Remove product size and quantity:</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <select asp-for=@Model.ChoosenSize class="form-control">
                            @foreach (var c in Model.AllProductSizes)
                            {
                                <option value=@c>@c</option>
                            }
                        </select>
                        <span asp-validation-for="ChoosenSize" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="InputQuantity" class="control-label">Quantity</label>
                        <input asp-for="InputQuantity" type="number" class="form-control" />
                        <span asp-validation-for="InputQuantity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <input  type="submit" value="Add size" class="btn btn-primary"  asp-area="Administrator" asp-controller="ProductSize" asp-action="AddSizes" asp-route-id=@Model.ProductId asp-route-typeId=@Model.TypeId/>
                            </div>
                            <div class=" col">
                                <input type="submit" value="Remove size" class="btn btn-danger" asp-area="Administrator" asp-controller="ProductSize" asp-action="RemoveSizes" asp-route-id=@Model.ProductId asp-route-typeId=@Model.TypeId/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/select-size.js" asp-append-version="true"></script>
}


