@model BabyBug.Common.ViewModels.Blog.CreatePageModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/css/single_styles.css">
    <link rel="stylesheet" type="text/css" href="~/css/single_responsive.css">
}

<div class="container single_product_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-controller="Blog" asp-action="Index"><i class="fa fa-angle-right" aria-hidden="true"></i>Blog</a></li>
                    <li class="active"><a asp-area="Administrator" asp-controller="Blog" asp-action="Create"><i class="fa fa-angle-right" aria-hidden="true"></i>Create</a></li>
                </ul>
            </div>

        </div>
    </div>

    <!-- Create page -->
    <h4>Create Page</h4>
    <hr />
    <div class="row">
        <div class="col-lg-10">
            <form method="post" asp-area="Administrator" asp-controller="Blog" asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Author" class="control-label"></label>
                    <input asp-for="Author" type="text" class="form-control" />
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Header" class="control-label"></label>
                    <input asp-for="Header" type="text" class="form-control" />
                    <span asp-validation-for="Header" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Content" class="control-label"></label>
                    <textarea asp-for="Content" rows="25" class="form-control"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <p>Upload one or more files using this form:</p>
                    <input asp-for="Picture" type="file" accept="image/*" />
                    <span asp-validation-for="Picture" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
