@model  Eventures.ViewModels.AllEventsViewModel<Eventures.ViewModels.BaseOrderViewModel>
@{
    ViewData["Title"] = "All Orders";
}

<div class="col-lg-offset-1 col-lg-10">
    <h1 class="text-center">All Orders</h1>
    <hr class="hr-2 hr-turquoise" />
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Event</th>
                <th scope="col">Customer</th>
                <th scope="col">Ordered On</th>
            </tr>
        </thead>
        <tbody>
            @{ var index = 1; }
            @for (var i = 0; i < Model.Events.Count(); i++)
            {
                {
                    var e = Model.Events.ToList()[i];
                    <tr>
                        <th scope="row">@index</th>
                        <td>@e.Name</td>
                        <td>@e.Customer</td>
                        <td>@e.OrderedOn</td>
                    </tr>
                }
                { index++; }
            }
        </tbody>
    </table>
    <hr class="hr-2 hr-turquoise" />
</div>
