<div class="hamburger_menu">
    <div class="hamburger_close"><i class="fa fa-times" aria-hidden="true"></i></div>
    <div class="hamburger_menu_content text-right">
        <ul class="menu_top_nav">
            <li class="menu_item has-children">
                <a href="#">
                    bgn
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="menu_selection">
                    <li><a href="#">eur</a></li>
                </ul>
            </li>
            <li class="menu_item has-children">
                <a href="#">
                    English
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="menu_selection">
                    <li><a href="#">Bulgarian</a></li>
                </ul>
            </li>
            <li class="menu_item has-children">
                <partial name="_LoginPartial"/>
                @*<a href="#">
                    My Account
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="menu_selection">
                    <li><a href="#"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a></li>
                    <li><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a></li>
                </ul>*@
            </li>
            @if (User.IsInRole("Admin"))
            {
                <li class="menu_item has-children nav_item_red">
                    <a>Orders<i class="fa fa-angle-down"></i></a>
                    <ul class="menu_selection">
                        <li><a asp-area="Administrator" asp-controller="Orders" asp-action="Awaiting">Awaiting</a></li>
                        <li><a asp-area="Administrator" asp-controller="Orders" asp-action="Approved">Approved</a></li>
                    </ul>
                </li>
                <li class="menu_item has-children nav_item_blue">
                    <a>Management<i class="fa fa-angle-down"></i></a>
                    <ul class="menu_selection">
                        <li><a asp-area="Administrator" asp-controller="TypeManagement" asp-action="Index">Types</a></li>
                        <li><a asp-area="Administrator" asp-controller="ProductSize" asp-action="Index">Sizes</a></li>
                        <li><a asp-area="Administrator" asp-controller="Products" asp-action="Create">Products</a></li>
                    </ul>
                </li>
            }
            <li class="menu_item"><a asp-controller="Home" asp-action="Index">home</a></li>
            <li class="menu_item"><a asp-area="Shopping" asp-controller="Categories" asp-action="Index">categories</a></li>
            <li class="menu_item"><a asp-area="Shopping" asp-controller="Products" asp-action="Index">shop</a></li>
            <li class="menu_item"><a href="#">promotion</a></li>
            <li class="menu_item"><a asp-controller="Blog" asp-action="Index">blog</a></li>
            <li class="menu_item"><a href="#">contact</a></li>
        </ul>
    </div>
</div>