@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="main_slider" style="background-image:url(/images/Header-Family-with-Baby.jpg)">
    <div class="container fill_height">
        <div class="row align-items-center fill_height">
            <div class="col">
                <div class="main_slider_content">
                    <h6 style="color:white">Welcome to BabyBug<span style="color:orange">Zone</span></h6>
                    <h1 style="color:white; text-shadow:1px 1px 1px black;">Everything your angel needs</h1>
                    <div class="red_button shop_now_button">
                    <a asp-area="Shopping" asp-controller="Products" asp-action="Index">shop now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>