@model ICollection<BabyBug.Common.ViewModels.Orders.OrderViewModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Full Name</th>
            <th scope="col">Made On</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    @{ var index = 1; }
    @foreach (var order in Model)
    {
        <tr>
            <th scope="row">@index</th>
            <td>@order.UserFullName</td>
            <td>@order.MadeOn</td>
            <td>
                Approved
            </td>
            <td>
                <a class="btn btn-success" asp-area="Administrator" asp-controller="Orders" asp-action="DetailsApproved" asp-route-id=@order.OrderId>Details</a>
            </td>
        </tr>
        index++;
    }

</table>
