@model ICollection<BabyBug.Common.ViewModels.TypeManagement.BaseTypeModel>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Type Name</th>
        </tr>
    </thead>
    @{ var index = 1; }
    @foreach (var x in Model)
    {
        <tr>
            <th scope="row">@index</th>
            <td>@x.Type</td>
        </tr>
        index++;
    }

</table>