@model ICollection<BabyBug.Web.Models.Categories.BaseCategoryModel>
@{
    ViewData["Title"] = "All";
}

@foreach (var category in Model)
{
    <h4><a asp-controller="Products" asp-action="Details">@category.Name</a></h4>
}

@if (User.IsInRole("Admin"))
{
    <div class="row">
        <div class="col">
            <a class="btn btn-primary" asp-area="Administrator" asp-controller="Categories" asp-action="Create">Create</a>
        </div>
        <div class="col">
            <a class="btn btn-primary" asp-area="Administrator" asp-controller="Categories" asp-action="Edit">Edit</a>
        </div>
        <div class="col">
            <a class="btn btn-primary" asp-area="Administrator" asp-controller="Categories" asp-action="Delete">Delete</a>
        </div>
    </div>
}
