@model ICollection<BabyBug.Web.Models.Categories.BaseCategoryModel>
@{
    ViewData["Title"] = "All";
}

@foreach (var category in Model)
{
    <h4><a asp-controller="Products" asp-action="Details">@category.Name</a></h4>
}

<div class="row">
    <a class="btn btn-primary" asp-area="Administrator" asp-controller="Categories" asp-action="Create">Create</a>
    <a class="btn btn-primary" asp-area="Administrator" asp-controller="Categories" asp-action="Edit">Edit</a>
    <a class="btn btn-primary" asp-area="Administrator" asp-controller="Categories" asp-action="Delete">Delete</a>
</div>