@model ICollection<BabyBug.Common.ViewModels.Categories.BaseCategoryModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container single_product_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="active"><a asp-controller="Categories" asp-action="Index"><i class="fa fa-angle-right" aria-hidden="true"></i>Categories</a></li>
                </ul>
            </div>

        </div>
    </div>

    @if (Model.Any())
    {
        <!-- Banner -->
        <div class="banner">
            <div class="container">
                <div class="row">
                    @foreach (var category in Model)
                    {
                        <div class="col-md-4 col-sm-6 mb-5">
                            <div class="banner_item align-items-center" style="background-image:url(@category.ImageUrl)">
                                <div class="banner_category">
                                    <a href="categories.html">@category.Name</a>
                                </div>
                            </div>
                            @if (User.IsInRole("Admin"))
                            {
                                <div class="row">
                                        <div class="col">
                                            <a class="btn btn-success" asp-area="Administrator" asp-controller="Categories" asp-action="Edit" asp-route-id=@category.Id>Edit</a>
                                        </div>
                                        <div class="col">
                                            <a class="btn btn-outline-danger" asp-area="Administrator" asp-controller="Categories" asp-action="Delete" asp-route-id=@category.Id>Delete</a>
                                        </div>
                                    </div>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>

    }

    @if (User.IsInRole("Admin"))
    {
        <hr />
        <div class="row">
            <div class="col">
                <a class="btn btn-primary" asp-area="Administrator" asp-controller="Categories" asp-action="Create">Create</a>
            </div>
        </div>
    }
</div>