@model BabyBug.Common.ViewModels.GarmentSize.GarmentManageSizesModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "ManageSizes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>ManageSizes</h3>
@if (Model.CurrentSizes.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Size</th>
                <th scope="col">Quantity</th>
            </tr>
        </thead>
        @{ var index = 1; }
        @foreach (var kvp in Model.CurrentSizes)
        {
            if (kvp.Value == 0)
            {
                continue;
            }
            <tr>
                <th scope="row">@index</th>
                <td>@kvp.Key</td>
                <td>@kvp.Value</td>
            </tr>
            index++;
        }

    </table>
}
<h4>Add/Remove Garment Size and Quantity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <select asp-for=@Model.ChoosenSize title="Select category" class="selectpicker">
                    @foreach (var c in Model.AllGarmentSizes)
                    {
                        <option value=@c>@c</option>
                    }
                </select>
                <span asp-validation-for="ChoosenSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InputQuantity" class="control-label">Quantity</label>
                <input asp-for="InputQuantity" type="number" class="form-control" />
                <span asp-validation-for="InputQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-area="Administrator" asp-controller="GarmentSize" asp-action="AddSizes" asp-route-id=@Model.GarmentId type="submit" value="Add" class="btn btn-primary" />
            </div>
            <div class="form-group">
                <input asp-area="Administrator" asp-controller="GarmentSize" asp-action="RemoveSizes" asp-route-id=@Model.GarmentId type="submit" value="Remove" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


