@model BabyBug.Common.ViewModels.Garments.ProductDetailsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<form id="orderForm" method="post" asp-area="User" asp-controller="Orders" asp-action="Order" asp-route-id=@Model.Id>
    <div class="quantity d-flex flex-column flex-sm-row align-items-sm-center">
        <span>Quantity:</span>
        <div class="quantity_selector">
            <div class="center">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
                            <span class="glyphicon glyphicon-minus">-</span>
                        </button>
                    </span>
                    <input asp-for="@Model.Quantity" type="text" id="quant[1]" class="form-control input-number" value="1" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
                            <span class="glyphicon glyphicon-plus">+</span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="product_favorite d-flex flex-column align-items-center justify-content-center"></div>
    </div>
    <div class="quantity d-flex flex-column flex-sm-row align-items-sm-center">
        <span>Size:</span>
        <div class="quantity_selector">
            <select asp-for=@Model.Size class="form-control" id="exampleFormControlSelect1">
                @foreach (var size in Model.AvailableSizes)
                {
                    <option value=@size>@size</option>
                }
            </select>
        </div>
    </div>

    <div class="quantity d-flex flex-column flex-sm-row align-items-sm-center">
        <div class="red_button add_to_cart_button">
            <a href="javascript:{}" onclick="document.getElementById('orderForm').submit();">add to cart</a>
        </div>
    </div>
</form>