@model BabyBug.Common.ViewModels.Garments.ProductDetailsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="tabs_section_container">

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="tabs_container">
                    <ul class="tabs d-flex flex-sm-row flex-column align-items-left align-items-md-center justify-content-center">
                        <li class="tab active" data-active-tab="tab_1"><span>Description</span></li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="tab" data-active-tab="tab_2"><span>Administrator Panel</span></li>
                        }
                        <li class="tab" data-active-tab="tab_3"><span>Reviews</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">

                <!-- Tab Description -->

                <div id="tab_1" class="tab_container active">
                    <div class="row">
                        <div class="col-lg-5 desc_col">
                            <div class="tab_title">
                                <h4>Description</h4>
                            </div>
                            <div class="tab_text_block">
                                <h2>@Model.Name</h2>
                                <p>@Model.Description</p>
                            </div>
                        </div>
                    </div>
                </div>

                @if (User.IsInRole("Admin"))
                {
                    <!-- Tab Administrator panel -->
                    <partial name="_ProductAdminPanelPartial" />
                }

                <!-- Tab Reviews -->

                <div id="tab_3" class="tab_container">
                    <div class="row">

                        <!-- User Reviews -->
                        <partial name="_ProductReviewsTabPartial" model=@Model.ProductReviews />

                        <!-- Add Review -->
                        <div class="col-lg-6 add_review_col">

                            <div class="add_review">
                                <form id="review_form" method="post" asp-area="User" asp-controller="Reviews" asp-action="Submit" asp-route-username=@this.User.Identity.Name>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <partial name="_AddProductReviewFormPartial" model=@Model />
                                    }
                                    else
                                    {
                                        <fieldset disabled>
                                            <partial name="_AddProductReviewFormPartial" model=@Model />
                                        </fieldset>
                                    }
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

