@model BabyBug.Common.ViewModels.TypeManagement.CreateTypeModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/css/single_styles.css">
    <link rel="stylesheet" type="text/css" href="~/css/single_responsive.css">
}

<div class="container single_product_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="Administrator" asp-controller="TypeManagement" asp-action="Index"><i class="fa fa-angle-right" aria-hidden="true"></i>Manage Types</a></li>
                    <li class="active"><a asp-area="Administrator" asp-controller="TypeManagement" asp-action="Create"><i class="fa fa-angle-right" aria-hidden="true"></i>Create</a></li>
                </ul>
            </div>

        </div>
    </div>

    <!-- Create type -->
    <h4>Create Type</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post" asp-area="Administrator" asp-controller="TypeManagement" asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input type="text" asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="funkyradio">
                    @if (Model.Types.Any())
                    {
                        <h5>Choose type:</h5>
                        foreach (var type in Model.Types)
                        {
                            <div class="funkyradio-danger">
                                <input asp-for="Type" type="radio" value=@type id="@type" />
                                <label asp-for="Type" for="@type">@type</label>
                            </div>
                        }
                    }
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
