@model BabyBug.Common.ViewModels.TypeManagement.AllTypesModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <partial name="_SingleStylesPartial" />
}

<div class="container single_product_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a><i class="fa fa-angle-right" aria-hidden="true"></i>Manage Types</a></li>
                    <li class="active"><a asp-area="Administrator" asp-controller="TypeManagement" asp-action="Index"><i class="fa fa-angle-right" aria-hidden="true"></i>All Types</a></li>
                </ul>
            </div>

        </div>
    </div>

    <partial name="_TypeIndexTablePartial" model=@Model />
    <hr />
    <div class="row">
        <a class="btn btn-primary" asp-area="Administrator" asp-controller="TypeManagement" asp-action="Create">Create</a>
    </div>
</div>


